-var navClasses = ['navbar','navbar-inverse']
-var navBtn = ['navbar-toggle','collapsed']
-var navColl = ['collapsed','navbar-collapse']

nav(class=navClasses)
    .container
        .navbar-header
            button.navBtn(
                type="button",
                data-toggle="collapse",
                data-target="#bs-example-navbar-collapse-1",
                aria-expanded="false")
                span.sr-only Toggle navigation
                -var n = 0
                
